body{
font-family: Arial, sans-serif;
text-align : center;
margin-top:40px;
}
h1{
  color : darkblue;
}
ul{
  list-style-type : square;
  display : inline-block;
  text-align: left;
  padding-left: 50px;
}
li{
  margin : 20px
}
li:hover{
display: block;
cursor:pointer;
color:darkblue;
}